@import url("https://unpkg.com/tailwindcss@3.0.23/src/css/preflight.css");

@font-face {
  font-family: Retni Sans;
  src: url(/RetniSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Retni Sans;
  src: url(/RetniSans-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: Retni Sans;
  background: #fafafa;
}

.App {
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr);
  height: 100vh;
}

aside {
  background-color: #eaeaea;
  padding: 2rem;
}

main {
  overflow-y: auto;
  padding: 1rem 2rem;
  /* background-image: linear-gradient(182deg, #dfe4f2, #fff 400px); */
}

.container {
  max-width: 1100px;
  margin-inline: auto;
}

.examples {
  display: grid;
  gap: 2px;
}

.examples a {
  font-size: 1rem;
  color: #747474;
}
.examples a:hover {
  color: #4f4f4f;
}

aside a.active,
aside a.active:hover {
  color: #341bfa;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0 0 0;
}

.page {
  display: grid;
  gap: 1rem;
}

.editor {
  height: 100%;
  border: 1px solid #eaeaea;
}

button,
[type="button"],
.link-to-example {
  background-color: #eaeaea;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  text-align: center;
}

.cytoscape-basic {
  height: 500px;
}

.renderer,
.cytoscape-basic {
  border: 1px solid #eaeaea;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.renderer {
  display: grid;
  place-content: center;
}

p a {
  color: #341bfa;
}

aside h2 {
  color: #aaa;
  margin-bottom: 1rem;
  font-weight: 400;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  font-weight: 700;
  color: #222;
  font-size: 1.1rem;
}

aside h2 + h3 {
  margin-top: 0;
}

.page.home {
  justify-content: center;
  justify-items: start;
}

.description {
  font-size: 1.1rem;
  max-width: 670px;
  margin-top: 0.5rem;
  display: grid;
  gap: 1rem;
}

.mobile-header {
  padding: 5px;
  padding-left: 1rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  display: none;
  background-color: #cdcdcd;
}

@media (max-width: 700px) {
  aside {
    display: none;
  }

  aside.open {
    display: block;
    position: relative;
    z-index: 100;
  }

  .App {
    display: block;
    height: auto;
  }

  .mobile-header {
    display: grid;
  }

  h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

p.large {
  font-size: 1.5rem;
}

.link-to-example {
  background-color: #6c5af7;
  color: white;
  font-size: 1.25rem;
  justify-self: start;
  padding: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 0;
  --color-hsl: 270, 100%, 50%;
}

@media (max-width: 700px) {
  .link-to-example {
    top: auto;
    bottom: 10px;
  }
}

.link-to-example:hover {
  background-color: #5845e9;
  box-shadow: 0px 0px 0px 5px hsla(var(--color-hsl), 0.1);
}

.link-to-example:active {
  box-shadow: 0px 0px 0px 5px hsla(var(--color-hsl), 0.2);
}

.toggle-mobile-menu.open {
  background-color: #6c5af7;
  color: white;
}

.gs-logo {
  max-width: 200px;
  margin-inline: auto;
  margin-bottom: -2rem;
  justify-self: start;
}

.page.home h1 {
  text-align: center;
}
