@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px;
}

body {
  background-color: #e1edff;
}

@media (min-width: 640px) {
  .main {
    grid-template-columns: auto minmax(0, 1fr);
  }
}

@media (max-width: 639px) {
  ul.menu {
    display: none;
  }

  ul.menu.menu-open {
    display: block;
  }
}

/* when not prefers reduced motion */
@media (prefers-reduced-motion: no-preference) {
  /* scroll behavior smooth */
  html {
    scroll-behavior: smooth;
  }
}
